.logo{
    max-width: 18%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    padding: .40%;
}

.navbar {
    background-color: #153243;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #EEF0EB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
   background-color: #B4B8AB;
}

.navbar a.current {
    background-color: #284B63;
}


/* Featured Div */

.featured h2{
    text-align: center;
    
}
.featured .img1 {
    max-width:45%;
    height:auto;
}
.featured .img2 {
    max-width: 35.5%;
}

.featured .img3 {
    max-width: 45%
}

.featured .img4 {
    max-width: 27.5%;
}
